<ion-view view-title="Sobre">
    <ion-content class="about">
        <img src="img/logo_playnesti.png">
        <p>
            Esta aplicação foi desenvolvida para auxiliar a apresentação do Workshop Tecnológico sobre Desenvolvimento Mobile presente no Playnesti 2015.
        </p>
        <p>
            Desenvolvido por:
        </p>


            <div class="info">
                <img class="gravatar" src="http://www.gravatar.com/avatar/2b07cafc6a4bbe496f543ea330a126a8.png">
                <div class="author">Nuno Silva</div>
                <a href="#" onclick="window.open('mailto:nunofrsilva@gmail.com?subject=Playnesti', '_system', 'location=yes'); return false;" class="mail">
                    <div class="label">
                        nunofrsilva@gmail.com
                    </div>
                </a>
            </div>
    </ion-content>
</ion-view>
