<ion-view view-title="Contactos">
    <ion-content class="contacts">
        <a href="#" onclick="window.open('mailto:nesti@uac.pt?subject=Contacto', '_system', 'location=yes'); return false;" class="mail">
            <div class="info">
                <img src="img/ic_contact_email.png">
                <div class="label">
                    nesti@uac.pt
                </div>
            </div>
        </a>
        <a href="#" onclick="window.open('http://facebook.com/playnesti', '_system', 'location=yes'); return false;" class="facebook">
            <div class="info">
                <img src="img/ic_contact_facebook.png">
                <div class="label">
                    facebook.com/playnesti
                </div>
            </div>
        </a>
        <a href="#" onclick="window.open('geo:37.746309,-25.663809?q=37.746309,-25.663809', '_system', 'location=yes'); return false;" class="facebook">
            <div class="info">
                <img src="img/ic_google_maps.png">
                <div class="label">
                    Localização / Direções
                </div>
            </div>
        </a>
    </ion-content>
</ion-view>